/*  code reference https://www.w3schools.com/howto/howto_css_images_side_by_side.asp */
* {
    box-sizing: border-box;
}
img{
    border: 1px solid black
}
p{
    word-break: keep-all;
}

.row{
    display:flex;
    flex-wrap:wrap;
    padding: 0 4;
}
/*3 equal columns*/
.column {
    flex:33.33%;
    max-width: 33.33%;
    padding: 5px;
 }
 /*2 column for vegetarian page*/
 .column1{
    flex:50%;
    max-width: 50%;
    padding: 5px;
 }
 .column .column1 img{
    margin-top: 8px;
    vertical-align: middle;
    width:100%;
 }

/*Responsive Layout*/
@media screen and (max-width: 500px) {
    .column {
        flex:100%;
        max-width:100%;
    }
}