/*Background colour for navigation*/
*,*::before, *::after {
	box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6 {
	font-family: "Times New Roman", Georgia, Serif;
}

p {
	font: "Times New Romans";
}

.main{
	margin-left:auto;
	margin-right:auto;
}
.mainmenu {
	overflow: hidden;
	background: #f0dcce;
	padding: 8px 16px !important;
	/*/position: fixed; set fixed navigation bar
	width: 100%;
	top: 0; /*position navigation bar at the top of the page*/
}

	/*Styling the navigation bar*/
	.mainmenu a {
		float: left;
		text-align: center;
		text-decoration: none;
		display: block;
		padding: 14px 16px;
		color: #000000;
		font-size: 17px;
	}
		/*Colour of links when hovering*/
		.mainmenu a:hover {
			background-color: antiquewhite;
			color: white;
		}

	/*Styling the search box*/
	.mainmenu input[type=text] {
		float: right;
		padding: 7px;
		border: 2px solid black;
		margin-top: 8px;
		margin-right: 16px;
		font-size: 17px;
	}

.content {
	padding: 16px;
	/*margin-top:30px!important;Avoid content overlay*/
	height: auto;
	background-color:white!important;
	display: flex;
	flex-wrap:wrap;
}

.name {
	font-size: 48px !important;
}

/*Container with image*/
.display-container {
	/*margin-top: 30px!important; Avoid content overlay*/
	padding: 16px;
	padding-top: 16px !important;
	padding-bottom: 16px !important;
	text-align: center !important;
	background: #d3cdcd !important;
}
h6{
	font-size:20px;
}

.display {
	position: relative;
	letter-spacing: 4px;
	display: block;
	color: black !important;
	background-color: white !important;
	font-size: 30px !important;
	padding: 12px 24px !important;
}

.display-image{
	max-width:100%;
	
	
}
.display-text ,.foot{
	color:black!important;
	background-color:white!important;
	font-size:30px!important;
	padding: 12px 24px !important;
}
.button {
	background-color: lightgray;
	border: none;
	color: black;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 25px;
	margin: 4px 2px;
	cursor: pointer;
}
.main {
	/*margin-top:30px!important;*/
}

.column4 {
	padding-top:16px!important;
	padding-bottom:16px!important;
	vertical-align:middle;
	max-width: 100px;
	
}
/*flex box*/
.aboutsection {
	align-content: center;
	display: flex;
	align-items: center;
	margin-left: auto;
	margin-right: auto;
	padding: 12px 24px !important;
	margin:16px!important;
	flex: 50%;
	max-width:50%;
}
.aboutsection::before .aboutsection::after{
	content:"";
	display:table;
	clear:both;
}
.aboutheading{
	text-align:center!important;
	font-size:20px !important;
	line-height:1.5;
	color:black;
	background-color:white;
	flex:25%
}
.abt{
	text-align:justify;
	flex:25%;
	max-width:500px;
	height:auto;
}

.abouttext {
	font: "Times new Roman" !important;
	padding: 12px 24px !important;
	display:flex;
}

.text {
	font-size: 18px !important;
	display: block;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	text-justify:auto;
}
/*page background colour*/
body {
	background: #d3cdcd;
}
menu{
	display:flex;
	flex-wrap:wrap;
	display:block;
}

.row {
	display: flex;
	padding: 12px 24px !important;
	flex-wrap: wrap;
}

.thumbnail {
	flex: 100%;
	padding: 5px;
	margin:16px!important;
}
/*When the screen is less than 600px wide, stack the lines and search field vertical*/
@media screen and (max-width: 800px) {
	.mainmenu a, .mainmenu input[type=text] {
		float: none;
		display: block;
		text-align: left;
		width: 100%;
		margin: 0;
		padding: 14px;
	}

	.mainmenu input[type=text] {
		border: #000000;
	}

	.aboutsection .row .menu .content .thumbnail .img {
		flex-direction: column;
		width: 100%;
	}

	img {
		width: 100%;
		height: auto;
	}

	.abt {
		display: none;
	}
}

@media (min-width: 801px) {
	.aboutsection .row {
		width: 49.99999%;
	}
	.menu {
		width: 33.3333%;
	}

}
