*{
	box-sizing: border-box;
}
.mainmenu {
	overflow: hidden;
	background: #f0dcce;
	padding: 8px 16px !important;
	/*/position: fixed; set fixed navigation bar
	width: 100%;
	top: 0; /*position navigation bar at the top of the page*/
}

	/*Styling the navigation bar*/
	.mainmenu a {
		float: left;
		text-align: center;
		text-decoration: none;
		display: block;
		padding: 14px 16px;
		color: #000000;
		font-size: 17px;
	}
		/*Colour of links when hovering*/
		.mainmenu a:hover,  #container .button:hover {
			background-color: antiquewhite;
			color: black;
		}

	/*Styling the search box*/
	.mainmenu input[type=text] {
		float: right;
		padding: 7px;
		border: 2px solid black;
		margin-top: 8px;
		margin-right: 16px;
		font-size: 17px;
	} 
#ingredients{
	text-align: left;
	font-family: sans-serif;
}
.container{
	display: flex;
	align-items:center;
	justify-content: center;
	display: flex;
	flex-wrap: wrap;
	padding:16px!important;
	align-content:center;
	align-items:center;
	margin:30px;
	background-color:white;
	text-align:center
}
h1 {
	text-align: center;
}
img{
	max-width:100%;
}
.image{
	flex-basis: 50%;
}
.text{
	font-family: courier new;
	padding-left:20px;
	font-size: 20px;
}
/*Fonts*/
.prep{
	font-family: Times New Roman;
	font-size: 20px;
}

.instruction{
	font-family: Times New Roman;
	font-size: 20px;
}